[build]
  command = "npm run build"
  publish = "build"

[build.environment]
  NODE_OPTIONS = "--max-old-space-size=4096"
  CI = "false"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/favicon-logo.png"
  [headers.values]
    Cache-Control = "no-cache, no-store, must-revalidate"
